fieldset
    .form-top
        h3 Step 1 / 3 Property
        p Fill out the following information about your property:
    .form-bottom
        each field in A
            .form-group.input-group-lg
                label.sr-only(for="form-#{field.class}") #{field.title}
                input(
                  type='text', 
                  id="form-#{field.class}", 
                  name='form-#{field.class}', 
                  placeholder='#{field.title}', 
                  class="form-#{field.class} form-control"
                )
        .closer
            :marked
                ***The disclosure of social security numbers is mandatory as required by Revenue and Taxation Code section 63.1.
                [See Title 42 United States Code, section 405(c)(2)(C)(i) which authorizes the use of social security numbers for 
                identification purposes in the administration of any tax.]***
                
                A foreign national who cannot obtain a social security number may provide a tax identification number issued by 
                the Internal Revenue Service. The numbers are used by the Assessor and the state to monitor the exclusion limit.
      
        button.btn.btn-next.pull-right(type='button') Next
