fieldset
    .form-top
        .form-top-left
            h3 Step 3 / 3
            p Social media profiles:
        .form-top-right
            i.fa.fa-twitter
    
    .form-bottom
        
        .form-group
            label.sr-only(for='form-facebook') Facebook
            input(
                id='form-facebook',
                class='form-facebook form-control',
                type='text', 
                name='form-facebook', 
                placeholder='Facebook...'
            )
        
        .form-group
            label.sr-only(for='form-twitter') Twitter
            input(
                id='form-twitter',
                class='form-twitter form-control',
                type='text', 
                name='form-twitter', 
                placeholder='Twitter...'
            )
            
        .form-group
            label.sr-only(for='form-google-plus') Google Plus
            input(
                id='form-google-plus',
                class='form-google-plus form-control',
                type='text', 
                name='form-twitter', 
                placeholder='Twitter...'
            )
            
        button.btn.btn-previous.pull-left(type='button') Previous
        
        button.btn.pull-right(type='submit') Sign me up!
